<!DOCTYPE html>
<%- include('./component/head.ejs')%>
  <body>
    <%- include('./component/nav.ejs')%>
    <div class=" about content">
      <h1>About</h1>
      <p>I'm learning about node, Express,ejs(javascript view engine).<br>
      and this is my development for a very first time in node app creation.</p>

    </div>
    <%- include('./component/footer.ejs')%>
  </body>
</html>
