<!DOCTYPE html>
<%- include('./component/head.ejs')%>
  <body>
    <%- include('./component/nav.ejs')%>
    <div class=" about content">
      <h1>About</h1>
      <p>I'm learning about nodejs for  backend services.<br>
      This app is basically for CURD operations , created with nodejs,Express Framework and ejs.<br>
       Database is with MangoDB.</p>
       <div><p>
         You can test my RestApi for this service. 
       </p><br><h3>Have fun coding!!🤗</h3></div>

    </div>
    <%- include('./component/footer.ejs')%>
  </body>
</html>
