<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./component/head.ejs')%>
  <body>
    
    <%- include('./component/nav.ejs')%>
    <div class=" create-blog content">
        <form action="/blogs" method="POST">
          <label for="title">Blog title:</label>
          <input type="text" id="title" name="title"required>
          <label for="snippet">snippet:</label>
          <input type="text" id="snippet" name="snippet"required>
          <label for="title">Blog Body:</label>
        <textarea id="body" name="body" required></textarea>
          <button >Submit</button>
        </form>

    </div>
    <%- include('./component/footer.ejs')%>
  </body>
</html>
