<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>nodeAppBlog🤖 |<%= title%></title>
    <style>
      body{
        margin:0px auto;
        padding :0 20px;
        font-family: 'Courier New', Courier, monospace;
      }
      h1,p,h3,h4,a,ul,li{
        text-decoration: none;
        list-style: none;
      }
      nav li{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 20px;

      }
      nav {
        display: flex;
        justify-content: space-between;}
        nav ul{
          display: flex;
          margin-right: 20px;
          justify-content: space-between;
        
        }
        nav li{
          margin-right: 20px;
        }

        .create-blog{
          display: block;
        align-items: center;
        }
      </style>
  </head>