<!DOCTYPE html>
<html lang="en" dir="ltr">
 <%- include('./component/head.ejs')%>
  <body>
    <%- include('./component/nav.ejs')%>
    <div class=" error content">
      <h1>Opps!!!!!!!!!! 404 not found</h1>
      <iframe src="https://giphy.com/embed/BEob5qwFkSJ7G" width="480" height="355" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/spongebob-squarepants-sad-crying-BEob5qwFkSJ7G">via GIPHY</a></p>
    </div>
    <%- include('./component/footer.ejs')%>
    <body>
  </body>
</html>
